<h1> Rejestracja </h1>
<hr>
<div>
    <div class="form-group">
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin" placeholder="Login">
    </div>
    <div class="form-group">
        <label for="inputLogin">Email</label>
        <input type="text" class="form-control" id="inputLogin" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Hasło</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Hasło">
    </div>
    <div class="form-group">
        <label for="inputPassword">Hasło</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Hasło">
    </div>
    <button type="submit" class="btn btn-dark">Zaloguj się</button>
</div>
<hr>
<button [routerLink]="['']"  class="btn btn-dark">Menu glowne</button>
<button [routerLink]="['/Login']" class="btn btn-dark">Logowanie</button>